@font-face {
    font-family: 'delirium';
    src: url('../fonts/delirium-webfont.woff2') format('woff2'),
        url('../fonts/delirium-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'delirium-neon';
    src: url('../fonts/delirium_neon-webfont.woff2') format('woff2'),
        url('../fonts/delirium_neon-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
        url('../fonts/roboto-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'trajan';
    src: url('../fonts/trajan_bold-webfont.woff2') format('woff2'),
        url('../fonts/trajan_bold-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}


#banner {
        width: 300px;
        height: 165px;
        position: relative;
        border: solid black 1px;
}
#banner2 {
    width: 300px;
    height: 165px;
    position: relative;
    border: solid black 1px;
    display: none;
}
#banner3 {
    width: 300px;
    height: 165px;
    position: relative;
    border: solid black 1px;
    display: none;
}
#banner4 {
    width: 300px;
    height: 165px;
    position: relative;
    border: solid black 1px;
    display: none;
}

#battlefield {
    position: absolute;
    width: 300px;
    height: 165px;
}
#title {
    max-width: 50px;
    position: absolute;
    top: 5px;
    left: 5px;
}

#battlefront-title {
    max-width: 219px;
    position: absolute;
    top: -3px;
    left: -60px;
}
#v {
    max-width: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
}
#v2 {
    max-width: 15px;
    position: absolute;
    left: 22%;
    transform: translateX(-50%);
    top: 1%;
}

#talk {
    position: absolute;
    top: 107px;
    color: #edffff;
    text-shadow: 0.5px 0.5px 0 black, 0.5px 0.5px 0 black, 0.5px 0.5px 0 black, 0.5px 0.5px 0 black;
    font-family: 'delirium';
    width: 100%;
    z-index: 9;
    font-size: 20px;
    opacity: 0;
    animation: blinker 2s linear infinite;
    left: 217px;
    cursor: pointer;



}


#mic {
    position: absolute;
    max-width: 40px;
    left: 263px;
    /* transform: translateX(-50%); */
    top: 120px;
    z-index: 10;
    animation: fadein 0.2s;
    cursor: pointer;
    }

h1 {
  color: #fff;
  font: 10vh/1.2 sans-serif;
}
#canvas {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  width: 100%;
  height: 200px;
}
.active {

}

#message {
    position: absolute;
    top: 23px;
    color: #edffff;
   text-shadow:
   0.5px  0.5px 0 black,
   0.5px  0.5px 0 black,
   0.5px 0.5px 0 black,
   0.5px 0.5px 0 black;
   font-family: 'delirium';
   text-align: center;
   width: 100%;
   z-index: 10;
   display: none;
   font-size: 25px;
   animation: fadein 2s;
   cursor: pointer;



}
@keyframes blinker {
  50% { opacity: 0.7; }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.9; }
    50% { opacity: 0.2; }

}

.feed-container {
    width: 290px;
    height: 20px;
    background-color: white;
    position: relative;
    margin-top: 124px;
    margin-left: 5px;
    opacity: 0.6;
    border: solid 1px black;

}

.facebook-img {
    width: 15px;
    position: absolute;
    left: 7px;
    top: 128px;
}

#battlefield-post {
      position: absolute;
      top: 109px;
      font-size: 14px;
      left: 28px;
      font-family: delirium;
      letter-spacing: 0.7px;

}
#battlefront-post {
    position: absolute;
    top: 120px;
    font-size: 9px;
    left: 58px;
    font-family: "trajan";

}
#trailer {
    position: absolute;
    top: -26px;
    font-size: 21px;
    left: 215px;
    font-family: delirium;
    letter-spacing: 0.8px;
    color: #ffe897;
    z-index: 2;
    text-shadow: 0.6px 0.6px 0 #f72742, 0.6px 0.6px 0 #f72742, 0.6px 0.6px 0 #f72742, 0.6px 0.6px 0 #f72742;
}
#battlefront-trailer {
    font-family: "trajan";
    position: absolute;
    top: 0px;
    font-size: 8px;
    left: 219px;
    color: white;
    z-index: 2;
}

.close-button {
    display: none;
}
.close-bottom {
    display: none;
}


button:focus {
    outline:0;
}

#show-more {
    position: absolute;
    top: 20px;
    left: 350px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: verdana;
    letter-spacing: 4px;
    padding-left: 5px;
    cursor: pointer;
    display: none;
}

#show-more::before,
#show-more::after,
span::before,
span::after {
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	background: transparent;
	transition: 1s;
}

#show-more::before {
	top: -2px;
	left: -2px;
	border-top: 2px solid black;
	border-left: 2px solid black;
}
#show-more::after {
	top: -2px;
	right: -2px;
	border-top: 2px solid black;
	border-right: 2px solid black;
}

span::before {
	bottom: -2px;
	left: -2px;
	border-bottom: 2px solid black;
	border-left: 2px solid black;
}
span::after {
	bottom: -2px;
	right: -2px;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
}


#show-more:hover::before,
#show-more:hover::after,
#show-more:hover span::before,
#show-more:hover span::after  {
	width: calc( 180px / 2);
	height: calc( 50px / 2);
}






#show-battlefront {
    position: absolute;
    top: 80px;
    left: 350px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: verdana;
    letter-spacing: 4px;
    padding-left: 5px;
    cursor: pointer;
    display: none;
}

#show-battlefront::before,
#show-battlefront::after,
span::before,
span::after {
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	background: transparent;
	transition: 1s;
}

#show-battlefront::before {
	top: -2px;
	left: -2px;
	border-top: 2px solid black;
	border-left: 2px solid black;
}
#show-battlefront::after {
	top: -2px;
	right: -2px;
	border-top: 2px solid black;
	border-right: 2px solid black;
}

span::before {
	bottom: -2px;
	left: -2px;
	border-bottom: 2px solid black;
	border-left: 2px solid black;
}
span::after {
	bottom: -2px;
	right: -2px;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
}


#show-battlefront:hover::before,
#show-battlefront:hover::after,
#show-battlefront:hover span::before,
#show-battlefront:hover span::after  {
	width: calc( 180px / 2);
	height: calc( 50px / 2);
}
